<!DOCTYPE html>
<html lang="en">

<head>
    <title>App</title>
    <link rel="stylesheet" href="styles{{version}}.css">
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="vendor{{version}}.js"></script>
    <script type="text/javascript" src="bundle{{version}}.js"></script>
</body>

</html>
