<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="index.css?{{version}}">
</head>

<body>
  <div id="app"></div>
  <script type="text/javascript" src="vendor.js?{{version}}"></script>
  <script type="text/javascript" src="bundle.js?{{version}}"></script>
</body>

</html>
